<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EJS example</title>

<!-- you can include your CSS and javascript files that you think adds functionlity(such as animations,Remember running js code in index.js using node is not same as normal js) files here -->


</head>
<body>


<!-- your html code of strucutre before table goes above-->
<table>
        <% for(var i=0;i<yourArray.length;i++){ %>
         <tr>
             <td> <%= yourArray[i] %> </td>
         </tr>
        <% } %>
 </table>

<!-- your html code of strucutre after table goes below -->
</body>
</html>